<footer>
  <div class="container text-muted pt-3">
    <div class="row">
      <div class="col-md">
        <span>Fuse Open</span>
        <ul>
          <li><i class="fas fa-at"></i><a href="mailto:fuse-open@googlegroups.com">fuse-open@googlegroups.com</a></li>
          <li><i class="fab fa-github"></i><a href="https://github.com/fuse-open">fuse-open</a></li>
          <li><i class="fab fa-twitter"></i><a href="https://twitter.com/fuseopen">@fuseopen</a></li>
        </ul>
      </div>
      <div class="col-md">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
  </div>
</footer>
