<footer>
  <div class="container text-muted pt-3">
    <div class="row">
      <div class="col-md-3">
        <a href="{% link index.md %}"><img width="160px" src="{% link /assets/white-logo.png %}" /></a>
      </div>
      <div class="col-md-5">
        <ul>
          <li><i class="fab fa-slack"></i><a target="_blank" href="https://fusecommunity.slack.com/"> Slack</a></li>
          <li><i class="fab fa-twitter"></i><a target="_blank" href="https://twitter.com/fuseopen"> @fuseopen</a></li>
          <li><i class="fab fa-github"></i><a target="_blank" href="https://github.com/fuse-open"> fuse-open</a></li>
          <li><i class="fas fa-envelope"></i><a target="_blank" href="mailto:fuse-open@googlegroups.com"> fuse-open@googlegroups.com</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
  </div>
</footer>
