// Fuse Open Style

// Variables
$font: 'Lato', sans-serif;
$gray: #555555;
$purple: #363882;
$violet: #7b4fdd;
$violet2: #b978f5;
$orange: #efa668;


// Menus
header .nav-item a:link, header .nav-item a:active, header .nav-item a:visited {
  opacity: .68;
  color: white;
  font-family: $font;
  font-size: 18px;
  font-weight: 700;
}

header .nav-item a:hover {
  opacity: 1 !important;
  text-decoration: underline;
  transition: .28s;
}

header .navbar a:link, header .navbar a:active, header .navbar a:visited, header .navbar a:hover {
  color: #fff !important;
  font-family: $font;
  font-size: 18px;
}

p {
  color: white;
  max-width: 500px;
  font-family: $font;
  font-size: 16px;
  margin-top: 30px;
}

.pcenter {
  width: 500px;
  margin: auto;
  margin-top: 30px;
}

hr{
  background-color: white;
  opacity: .25;
  margin-top: 60px;
  margin-bottom: 60px;
}

.home {
  width: 100vw;
  height: 100vh;
  margin: auto 0;
  overflow-x: hidden;
  background: $violet;
  background: -moz-linear-gradient(left, $violet 0%, $violet2 50%, $violet2 50%, $orange 100%);
  background: -webkit-linear-gradient(left, $violet 0%, $violet2 50%, $violet2 50%, $orange 100%);
  background: linear-gradient(to right, $violet 0%, $violet2 50%, $violet2 50%, $orange 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$violet, endColorstr=$orange, GradientType=1);
  .headerImage {
    transform: scale(1.12);
  }
  .container .row {
    height: 90vh;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-family: $font;
    font-size: 80px !important;
    color: white;
    font-weight: 800;
  }
  .btn{
    font-family: $font !important;
    font-weight: 700;
  }
}

.features{
  color: white;
  font: $font;
  background-color: $purple;
  padding: 100px 0px;
  background: $purple;
  background: -moz-linear-gradient(top, $purple 20%, #7C75D4 50%, $orange 100%);
  background: -webkit-linear-gradient(top, $purple 20%, #7C75D4 50%,$orange 100%);
  background: linear-gradient(to bottom, $purple 20%, #7C75D4 50%,$orange 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$purple, endColorstr=$orange,GradientType=0 );

  h2 {
    font-family: $font;
    font-size: 40px !important;
    color: white;
    font-weight: 800;
  }

  .container {
    margin-bottom: 160px;
  }
  .container:last-child{
    margin-bottom: 0px;
  }
  .container .row {
    align-items: center;
    justify-content: center;
  }
}

.create {
  font: $font;
  padding: 100px 0px;

  p {
    color: $gray;
  }

  h2 {
    font-family: $font;
    font-size: 40px !important;
    color: $purple;
    font-weight: 800;
  }
}

.users {
  font: $font;
  padding: 100px 0px;

  p {
    color: $gray;
  }
  background-color: $gray-100;
  h2 {
    font-family: $font;
    font-size: 40px !important;
    color: $purple;
    font-weight: 800;
  }

  .companies {
    margin-top: 50px 0px;
    list-style: none !important;
    li {
      display: inline-block;
      margin: 20px;
    }
  }
}

footer {
  font: $font;
  color: white;
  background-color: $purple !important;
  padding: 80px 0px;

  h4 {
    color: white;
    font: $font;
  }
  li {
    color: white;
  }

  a:link, a:hover, a:active, a:visited {
    font: $font;
    color: white;
  }
}
