---
---

$enable-shadows: true;

// Variables
$font: 'Lato', sans-serif;
$gray: #555555;
$purple: #2d1546;
$violet: #9846EF;
$violet2: #b978f5;
$orange: #efa668;

$primary: $purple;
$secondary: $violet;

$font-family-sans-serif: $font;
$font-family-base:       $font;

@import 'bootstrap';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// General Style
h1 {
  color: $violet;
  font-size: 40px !important;
  font-weight: 800;
}
h2 {
  color: $violet;
  font-size: 40px !important;
  font-weight: 800;
}
a {
  color: $gray-600;
  text-decoration: none;
}
p {
  color: white;
  color: $gray;
  font-size: 16px;
  a {
    color: $violet;
  }
}
hr {
  background-color: white;
  margin-bottom: 60px;
  margin-top: 60px;
  opacity: .25;
}

// Header
.navbar-brand a {
  text-decoration: none !important;
  font-style: normal;
}
header .nav-item a:link, header .nav-item a:active, header .nav-item a:visited {
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  opacity: .65;
  text-decoration: none;
}
header .nav-item a:hover {
  opacity: 1 !important;
  text-decoration: underline;
  transition: .28s;
}
header .navbar a:link, header .navbar a:active, header .navbar a:visited, header .navbar a:hover {
  color: #fff !important;
  font-size: 15px;
}
.navbar-dark .navbar-nav .nav-link.active {
  text-decoration: underline;
  opacity: 1;
}

// Home Page
.home {
  background: $violet;
  background: linear-gradient(to right, $violet 0%, $violet2 50%, $violet2 50%, $orange 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$violet, endColorstr=$orange, GradientType=1);
  height: 100vh;
  margin: auto 0;
  overflow: hidden;
  .headerImage {
    transform: scale(1.12);
  }
  .container .row {
    align-items: center;
    height: 90vh;
    justify-content: center;
  }
  h1 {
    color: white;
    font-size: 80px !important;
    font-weight: 800;
  }
  .btn {
    font-weight: 700;
  }
  p {
    color: white;
  }
}
.features {
  background: $purple;
  background: linear-gradient(to bottom, $purple 20%, #7C75D4 50%,$orange 100%);
  background-color: $purple;
  color: white;
  padding: 100px 0px;
  h2 {
    color: white;
    font-size: 40px !important;
    font-weight: 800;
  }
  .container {
    margin-bottom: 160px;
  }
  .container:last-child {
    margin-bottom: 0px;
  }
  .container .row {
    align-items: center;
    justify-content: center;
  }
  p {
    color: white;
  }
  .pcenter {
    margin: auto;
    margin-top: 30px;
    max-width: 90vw;
    width: 500px;
  }
}
.create, .moreFeatures {
  padding: 100px 0px;
  p {
    padding: 20px 60px;
  }
  img {
    margin-bottom: 80px;
  }
  h2 {
    color: $purple;
    font-size: 40px !important;
    font-weight: 800;
  }
  .pcenter {
    margin: auto;
    margin-top: 0px;
    max-width: 90vw;
    width: 500px;
    padding: 0px;
  }
}
.moreFeatures h2{
  margin-bottom: 80px;
}
.featureIcon {
  font-size: 120px;
  color: $purple;
  padding: 15px;
  margin: 0px 10px;
}
.users {
  padding: 100px 0px;
  p {
    color: $gray;
  }
  background-color: $gray-100;
  h2 {
    color: $purple;
    font-size: 40px !important;
    font-weight: 800;
  }
  .companies {
    list-style: none !important;
    margin-top: 50px 0px;
    li {
      display: inline-block;
      margin: 38px;
      margin-left: 0;
      padding-left: 0;
    }
  }
}

// Showcases Page
.showcases {
  margin: 50px 0;
  h2 a {
    display: block;
    font-size: 22px;
    font-style: normal;
    line-height: 1.2;
    text-decoration: none;
  }
  a {
    margin-bottom: 20px;
  }
  p {
    margin: 20px 0 0 0;
    .readmore {
      margin-top: 200px;
    }
  }
  div {
    margin-bottom: 30px;
  }
  img {
    transform: scale(1);
    transition-duration: .32s;
    animation-fill-mode: forwards;
  }
  img:hover {
    transform: scale(1.03);
    transition-duration: .32s;
    animation-fill-mode: forwards;
  }
}
.showcase img{
  margin: 20px 0px;
}

// Default Page
#defaultHeader {
  background: $violet;
  background: linear-gradient(to right, $violet 0%, $violet2 50%, $violet2 50%, $orange 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$violet, endColorstr=$orange, GradientType=1);
}
.page-content {
  li a {
    color: $violet;
  }
  margin: 50px 0px;
}

// Footer
footer {
  color: white;
  background-color: $purple !important;
  padding: 80px 0px;
  flex: 1;
  h4 {
    color: white;
  }
  ul{
      list-style: none;
      margin: 0;
      padding: 0;
  }
  li {
    color: white;
  }
  a, a:hover, a:link, a:visited, a:active, p {
    color: white;
    text-decoration: none;
    margin: 0;
  }
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}

button:enabled > .fa-spin {
  display: none;
}
button:disabled > .fa-download {
  display: none;
}

.highlight {
  padding: 0.1em;
  margin-bottom: 0.5em;
}

.highlight pre {
  font-size: 80%;
}

code {
  color: darken($orange, 30);
  white-space: pre-wrap
}
