---
---

$enable-shadows: true;

@import 'bootstrap';

html {
  min-height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

footer {
  position:relative;
  bottom:0;
  left:0;
  right:0;
  background-color: $light;
}

footer ul {
  list-style: none;
}

footer li svg {
  margin-right: 0.5rem;
}

div.showcases div div {
  max-width: 229px;
}

div.users ul {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  padding: 0;
  margin: 0;
}

div.users ul > li {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  grid-column: span 6;
}

div.users ul > li > svg {
  fill: #888;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

div.users span {
  display: none;
}

@media screen and (min-width: 768px) {
  div.users ul > li {
    grid-column: span 2;
  }
}
