---
layout: page
---
<div class="example">
  <div id="preview" class="w-100 bg-secondary p-3 mb-4">
    {% if page.preview-video %}
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ page.preview-video }}?autoplay=1&mute=1&loop=1&rel=0&controls=0&showinfo=0&autohide=1" frameborder="0" allow="autoplay"></iframe>
    </div>
    {% elsif page.preview-image %}
    <img src="{{ site.baseurl }}/assets/images/examples/{{ page.preview-image }}" alt="{{ page.title }}">
    {% endif %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/jszip@3.2.1/dist/jszip.min.js" integrity="sha256-fQRKPdi0cFlC4fiB+xyZk4KV1A8gFAjvwAHG1eEHsyQ=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.1/dist/FileSaver.min.js" integrity="sha256-Sf4Tr1mzejErqH+d3jzEfBiRJAVygvjfwUbgYn92yOU=" crossorigin="anonymous"></script>
  <script src="{% link assets/download-example.js %}"></script>
  {% assign example = page.id | split: "/" | last %}
  <button id="download" class="btn btn-primary" onclick="downloadExample(this, '{{ example }}')">
    <i class="fas fa-download"></i>
    <i class="fas fa-sync-alt fa-spin"></i>
    <span>Download</span>
  </button>

  {{ content }}

  <link rel="stylesheet" href="{{ "/assets/monokai.css" | relative_url }}">
</div>
