<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <div class="home-content">
    <div class="home">
      {% include header.html %}
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h1>Welcome to Fuse Open</h1>
            <p>An open-source cross-platform mobile app development tool suite, supporting building Android and iOS applications.</p>
            <p>With Fuse you can build native mobile user interfaces using the easy to learn UX Markup language, and use JavaScript to add business logic.</p>
            <a href="get-started/"><button type="button" class="btn btn-outline-light">Get Started</button></a>
            <a href="https://github.com/fuse-open/fuse-studio" target="_blank"><button type="button" class="btn btn-outline-light"><i class="fab fa-github"></i> View Source Code</button></a>
          </div>
          <div class="col-lg-7 d-none d-lg-block d-xl-block">
            <img class="headerImage" alt="Fuse Open" src="{{ site.baseurl }}{% link assets/images/header-bg-2.png %}">
          </div>
        </div>
      </div>
    </div>
    <div class="features">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <img class="img-fluid" alt="Fuse Open Visual" src="{{ site.baseurl }}{% link assets/images/visuals/visual4.png %}">
          </div>
          <div class="col-md-5">
            <h2>Better Apps, Less Code</h2>
            <p>
              Build interfaces with UX Markup: A concise, declarative XML-based language for creating rich user experiences backed by a world class layout engine and GPU-accelerated visuals. UX markup has been designed to be highly expressive, intuitive to learn and very difficult to break.
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-5 order-sm-2 order-md-1">
            <h2 class="text-right">Rapid iteration <br>with live reload</h2>
            <p class="text-right">
              Fuse is designed to offer a playful, real-time workflow where the project can be modified as it is running. Using a local zero-config development server, any changes committed to UX, script or assets causes near instant updates in the running application.
            </p>
          </div>
          <div class="col-md-7 order-sm-1 order-md-2">
            <img class="img-fluid" alt="Fuse Open Visual" src="{{ site.baseurl }}{% link assets/images/visuals/visual5.png %}">
          </div>
        </div>
      </div>
      <div class="container text-center">
        <img class="img-fluid" alt="Fuse Open Visual" src="{{ site.baseurl }}{% link assets/images/visuals/visual2.png %}">
        <br><br>
        <h2>Compatible with your favorite tools</h2>
        <p class="pcenter">
          With Fuse a whole new world of collaboration opens up. Either working together with another developer in the office or showing off your app to a client on the other side of the Atlantic – your always on the same page.
        </p>
      </div>
    </div>
    <div class="moreFeatures">
      <div class="container-fluid text-center">
        <h2>But wait... there is a lot more</h2>
        <div class="row">
          {% for feature in site.data.features %}
          <div class="feature col-lg-4 col-md-6 col-xs-12">
            <span class="featureIcon {{ feature.icon }}"></span>
            <h3>{{ feature.title }}</h3>
            <p>{{ feature.description }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="create">
      <div class="container-fluid text-center">
        <img class="img-fluid" alt="Fuse Open Visual" src="{{ site.baseurl }}{% link assets/images/visuals/visual3.png %}">
        <h2>Create Once, Wow everywhere</h2>
        <p class="pcenter">
          Some say, "learn once, write anywhere". We say: "write once, deploy everywhere". Fuse leverages from OpenGL to achieve a blazingly fast cross-platform solution.<br><br>
        </p>
        <a href="get-started/"><button type="button" class="btn btn-outline-primary">Get Started</button></a>
      </div>
    </div>
    <div class="users">
      <div class="container text-center">
        <h2>Trusted by top companies from all around the world</h2>
        <ul class="companies">
          {% for user in site.data.users %}
          <li>
            {% include {{ user.id | prepend: 'users/' | append: '.svg' }} %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% include footer.html %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
